.card {
  display: flex;
  column-gap: clamp(calc(0.22 * 36px), 3.6rem, 36px);
  padding: clamp(calc(0.22 * 24px), 2.4rem, 24px);
  padding-left: clamp(calc(0.22 * 36px), 3.6rem, 36px);
  border-radius: clamp(calc(0.22 * 24px), 2.4rem, 24px);
  background-color: var(--white);
}

.imageContainer {
  position: relative;
  width: clamp(calc(0.22 * 96px), 9.6rem, 96px);
  height: clamp(calc(0.22 * 96px), 9.6rem, 96px);
  flex-shrink: 0;
}
.imageContainer::after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  right: 0;

  width: clamp(calc(0.22 * 15px), 1.5rem, 15px);
  height: clamp(calc(0.22 * 15px), 1.5rem, 15px);
  z-index: 5;
  border: clamp(calc(0.22 * 2.5px), 0.25rem, 2.5px) solid var(--white);
  border-radius: 50%;
  background-color: var(--price);
}
.foto {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: clamp(calc(0.22 * 96px), 9.6rem, 96px);
  height: clamp(calc(0.22 * 96px), 9.6rem, 96px);
  border-radius: clamp(calc(0.22 * 15px), 1.5rem, 15px);
  z-index: 4;
}
.headerCard {
  display: flex;
  align-items: center;
  margin-bottom: clamp(calc(0.22 * 8px), 0.8rem, 8px);
  font-size: clamp(calc(0.22 * 16px), 1.6rem, 16px);
  font-weight: var(--font-weight-medium);
  line-height: 1.5;
  color: var(--main);
}

.header {
  margin-right: auto;

  color: var(--text);
}
.price {
  color: var(--price);
}
.star {
  width: clamp(calc(0.22 * 16px), 1.6rem, 16px);
  height: clamp(calc(0.22 * 16px), 1.6rem, 16px);
  margin-right: clamp(calc(0.22 * 4px), 0.4rem, 4px);
}

.heart {
  width: clamp(calc(0.22 * 26px), 2.6rem, 26px);
  height: clamp(calc(0.22 * 26px), 2.6rem, 26px);
}
.buttonHeart {
  padding: 0;
  border: none;
  background-color: transparent;
}
.rating {
  margin-right: clamp(calc(0.22 * 32px), 3.2rem, 32px);
}
.priceText {
  margin-right: clamp(calc(0.22 * 28px), 2.8rem, 28px);
}

.name {
  margin-bottom: clamp(calc(0.22 * 32px), 3.2rem, 32px);
  font-size: clamp(calc(0.22 * 24px), 2.4rem, 24px);
  line-height: 1;
}

.experience,
.specialization {
  display: flex;
  justify-content: start;
  column-gap: clamp(calc(0.22 * 40px), 4rem, 40px);
  margin-bottom: clamp(calc(0.22 * 24px), 2.4rem, 24px);
  font-size: clamp(calc(0.22 * 16px), 1.6rem, 16px);
  font-weight: var(--font-weight-medium);
  line-height: 1.5;
  color: var(--main);
}

.experienceName {
  color: var(--text);
}

.about {
  margin-bottom: clamp(calc(0.22 * 14px), 1.4rem, 14px);
  font-size: clamp(calc(0.22 * 16px), 1.6rem, 16px);
  font-weight: var(--font-weight-regular);
  line-height: 1.25;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--text);
}

.link {
  font-size: clamp(calc(0.22 * 16px), 1.6rem, 16px);
  font-weight: var(--font-weight-medium);
  line-height: 1.5;
  color: var(--main);
  text-decoration: underline;
}
